.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    width: 100vw;
    padding: 0 0.8rem;
    z-index: 2;

    svg {
        width: 6rem;
    }
}
