.case {
    //overflow-x: hidden;
    &__emotion {
        min-height: 100vh;
        width: 100vw;
        background-color: rgba(250, 250, 250, 0.116);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        //scroll-snap-align: start;

        &__title {
            font-size: 4rem;
            position: absolute;
            top: 20%;
        }

        &__case {
            // width: 150px;
            // height: 150px;
            left: 0;
            background-color: white;
            position: absolute;
            // background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;

            // img {
            //     object-fit: cover;
            //     width: 100%;
            //     height: 100%;
            // }

            // &:nth-child(2) {
            //     // width: 100vw;
            //     // height: 50vh;
            //     left: 0;
            //     top: 60%;
            // }
        }

        &__case2 {
            width: 150px;
            height: 150px;
            background-color: white;
            position: absolute;
            background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0;
            top: 20%;
            left: 20%;
        }

        &__case2 {
            background-color: white;
            position: absolute;
            background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100vw;
            height: 50vh;
            left: 0;
            top: 60%;
        }
    }

    &__block {
        height: 100vh;
        margin-top: 60vh;
    }
}
